@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.clearfix{
    overflow: hidden;
}

body{
    background-color: burlywood;
}

::-webkit-scrollbar {
    /* for vertical scrollbars */
    width: 0.65em;
    /* for horizontal scrollbars */
    height: 0.65em;
  }
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
  }

/*-------------------------------------------------------*/
.title{
    position: relative;
    margin-top: 70px;
    margin-bottom: 150px;
    background-color: burlywood;
    background-size: cover;
    width: 100%;
    height: 650px;
    z-index: 0;
}

.subtitle{
    font-size: 1.1vw;
    width: 400px;
    margin-bottom: 120px;
    color: white;
}

.title > p{
    font-family: 'Dancing Script', cursive;
    position: relative;
    top: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 13vw;
    color: white;
    width: 50%;
    border-radius: 50px;
    
    
}
/*-------------------------------------------------------*/

.mouse_scroll {
    top: 90px;
    position: relative;
    z-index: 1000;
    font-size: 100px;
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 30px;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;

}

.wheel {
    display: block;
    margin: 5px auto;
    background: black;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    border-radius: 100px;
    animation: mouse-wheel 0.6s linear infinite;
}

@keyframes mouse-wheel{
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

.m_scroll_arrows {
    display: block;
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.trei {
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.doi {
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.unu {
    -webkit-animation-delay: .1s;
    animation-direction: alternate;
}

.unu, .doi, .trei {
    animation: mouse-scroll 1s infinite;
}

@keyframes mouse-scroll{
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
/*-------------------------------------------------------*/

.bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f1;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }

/*-------------------------------------------------------*/
.wave {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    background-size: 1000px 100px;
}
    .wave1 {
        z-index: 10;
        opacity: 1;
        -webkit-animation-delay: 0s;
                animation-delay: 0s;
        bottom: 0;
        -webkit-animation: animation 30s linear infinite;
                animation: animation 30s linear infinite;
    }
    .wave2 {
        z-index: 8;
        opacity: 0.5;
        -webkit-animation-delay: -5s;
                animation-delay: -5s;
        bottom: 10px;
        -webkit-animation: animation2 15s linear infinite;
                animation: animation2 15s linear infinite;
    }
    .wave3 {
        z-index: 9;
        opacity: 0.2;
        -webkit-animation-delay: -2s;
                animation-delay: -2s;
        bottom: 15px;
        -webkit-animation: animation 30s linear infinite;
                animation: animation 30s linear infinite;
    }
    .wave4 {
        z-index: 7;
        opacity: 0.7;
        -webkit-animation-delay: -5s;
                animation-delay: -5s;
        bottom: 20px;
        -webkit-animation: animation2 5s linear infinite;
                animation: animation2 5s linear infinite;
    }


@-webkit-keyframes animation {
0% {
    background-position-x:0;
}
100% {
    background-position-x:1000px;
}
}
@keyframes animation {
0% {
    background-position-x:0;
}
100% {
    background-position-x:1000px;
}
}
@-webkit-keyframes animation2 {
0% {
    background-position-x:1000px;
}
100% {
    background-position-x:0px;
}
}
@keyframes animation2 {
0% {
    background-position-x:1000px;
}
100% {
    background-position-x:0px;
}
}


/*-------------------------------------------------------*/

/*-------------------------------------------------------*/

section.main > img{
    
    
    width: 100%;
    object-fit: cover;
    height: 700px;
    z-index: -1;
}

aside{
    position: absolute;
    z-index: 1;
    padding: 10px;
    backdrop-filter: blur(15px);
    width: 250px;
    height: 400px;
}

aside a{
    display: block;
    color:black;
    padding: 10px 0px 10px 10px;
    margin-left: 0;
}

.listDrink li{
    height: 43px;
    display: table;
    margin: 0;
    width: 240px;
    padding: 10px;
    border-bottom: 0.5px solid #6e6969;
}

.listDrink li:last-child{
    border: none;
}

.listDrink i{
    width: 20px;
}

.listDrink-hidden{
    display: none;
}

.listDrink-active{
    display: block;
}

.listDrink a:hover {
    color: blueviolet;
}

.listDrink-box{
    position: absolute;
    z-index: 1;
    margin-top: 2%;
    margin-left: 17%;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    left: 90%;
    top: -2px;
    background-color: white;
    opacity: 0.8;
    backdrop-filter: blur(25px);
}

.listDrink a:hover ~ .listDrink-hidden{
    display: block;
}

/*--------------------------------------------------*/
.how-to-order{
    display: block;
    padding-bottom: 100px;
}


.call img{
    width: 80%;
}

.main{
    position: relative;
    background-color: white;
    
    padding-bottom: 100px;
}

.call p{
    font-size: 20px;
    font-weight: bold;
}

div.call{
    margin-bottom: 20px;
    width: 20%;
    text-align: center;
}

.content2{
    display: flex;
}

.step{
    width: 30px;
    height: 30px;
    margin: auto;
}

.main h2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.62vw;
    width: 40%;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    padding:10px;
    margin-bottom: 30px;
    text-align: center;
}

/*-------------------------------------------*/
.thuonghieu{
    background-color: blanchedalmond;
    width:100%;
    margin: 0;
    padding: 0;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    float: left;
}

.thuonghieu div > img{
    display: block;
    width: 35%;
    border-radius: 50%;
}

.thuonghieu .img-coffee{
   margin-top: 10vh;
   margin-bottom: 10vh;
}

.row li{
    display: flex;
    width: 47%;
    padding:20px;
}

.row p{
    font-size: 1.3vw;
}

.row h4{
    font-size: 2vw;
    text-align: center;

}

.row li span{
    font-size: 10vw;
    padding-right: 10px;
    color:aqua;
}

/*-----------------------------------------------*/

footer{
    background-color:#242221;
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer a{
    display: block;
    padding: 5px;
    color: #838486;
}

.footer a:hover{
    color:peru;
}

.facebook-youtube > a{
    display: inline;
}

.facebook-youtube > a > img{
    height: 50px;
}

.inline-block p{
    font-style: italic;
    line-height: 1.5;
}

/*_____________________________________________________________*/
/*---------------------LOGIN PAGE------------------------------*/
.login-wrap{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    max-width:525px;
    min-height:600px;
    position: absolute;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
   
  }

.login-html .sign-in-htm, .login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.login-html .sign-in, .login-html .sign-up, .login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#1161ee;
}
.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  color:#fff;
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:black;
  font-size:12px;
}
.login-form .group .button{
  background:#1161ee;
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{ /*dấu tick ghi nhớ*/
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#fff;
}
.login-form .group .check:checked + label .icon{
  background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}

.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}
/*-------------*/
.menu > img{
    display: flex;
    width: 10px;
}


.contact > a{
    display: block;
    color:black;
    padding: 8px;
    border-right: black solid 2px;
    font-size: 12px;
}

.contact > a:first-child{
    border-right:none;
}

.contact{
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(122, 78, 12, 0.733);
}

section.nav{
    display: flex;
    width: 100%;
    height: fit-content;
}

section.nav > img{
    position: absolute;
    width:180px;
    top: 0px;
    height: 170px;
    padding: 10px;
    left:50px;
    border: 3px brown solid;
    border-radius: 50%;
    background-color: #2b2c2f;
    z-index: 101;
} 

nav{
    width: 100%;
    background-color:#2b2c2f;
}

/*
.nav div{
    display: flex;
    margin-left: 15%;
    margin-right: auto;
}

section.nav .topnav{
    display: flex;
    width: 100%;
}


section.nav a{
    display: block;
    padding: 30px;
    font-size: 20px;
    color:white;
    
}

section.nav .hotline{
    width: 200px;
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color:white;
    border: 1px solid white;
    background-color: brown;
    height: 30px;
    padding-top: 5px;
}

section.nav .topnav a:nth-child(7){
    position: relative;
    color: white;
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
    left: 4%;
}
*/

.topnav {
    overflow: hidden;
    margin-left: 20%;
}
 
.topnav a {
    width: 13%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #494646;
    border-radius: 10px;
}

.topnav a:hover:first-child{
    background-color: #2b2c2f;
    border-radius: 10px 10px 0px 0px;
}

.topnav a:nth-child(6){
    font-size: 15px;
    padding: 25px 10px;
    width: 300px;
    margin-left: 2%;
}

.topnav a:first-child{
    border-bottom: 3px white solid;
}
 
a{
    text-decoration: none;
}

#title-res{
    display: none;
    font-family: 'Dancing Script', cursive;
    color:white;
}

@media screen and (max-width: 1280px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        padding: 25px 0px;
    }
    .topnav a:nth-child(6){
    margin-left: 0;
    }
}

@media screen and (max-width: 900px) {
    .contact{
        display: none;
    }
    .img-logo{
        display: none;
    }
    #title-res{
        display:block;
        position: absolute;
        top:3%;
        left: 3%;
        font-size: 3vw;
    }
}


@media screen and (max-width: 1280px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
     }
    .topnav.responsive a:not(:last-child) {
        float: none;
        display: block;
        text-align: left;
        width: 40%;
        text-align: center;
        margin-left: 20%;
        margin-right: 50%;
    }
}

.topnav .icon {
    display: none;
}

/*------------------------------------------*/
.recruit{
    width: 100%;
    display: flex;
    background-color: #d4c0a5;
    margin-top: 8%;
}

.recruit-left{
    width: 50%;
    padding: 7% 10% 0% 10%;
}

.recruit-left h3{
    color: white;
    text-align: center;
    font-size: 2.5vw;
}

.recruit-left p{
    font-style: italic;
    font-size: 1.2vw;
}

.recruit-left button{
    background-color: #343a40;
    color: white;
    border-radius: 5px;
    padding: 2px;
    margin: 3%;
    float: right;
    width: 20%;
    font-size: 1vw
}

.recruit-right{
    width: 50%;
    margin: 0;
    padding: 0;
}

.recruit-right img{
    width: 100%;
}